:root {
    --primary-color: #adf0d4;
    --secondary-color: #1fdBa4;
    --bg-color: #0d1512;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.darkerText {
    color: var(--secondary-color);
}

header, 
main, 
footer {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}